<!DOCTYPE html>
<html>
  <head>
    <title>Lyrics</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add Lyrics</h1>

    <div id="task-add-div">
        <form action="/do/add-task" id="addTaskForm" method="post" role="form">
            <div>
                <label>Title: </label>
                <input name="lyricName" type="text" placeholder="E.g. I'm yours" class="form-control">
            </div>
            <div>
                <label>Singer: </label>
                <input name="singerName" type="text" placeholder="E.g. Jason Mraz" class="form-control">
            </div>
            <div>
                <button type="submit"><strong>ADD LYRIC</strong></button>
            </div>
        </form>
    </div>

    <div id="task-list">
      <ul>
        <% if(tasks) { %>
          <% tasks.forEach(function(task) { %>
            <li><%= task.id %></li>
            <li><%= task.title %></li>
            <li><%= task.singer %></li>
            <button type="submit"><strong>EDIT LYRIC</strong></button>
            <button type="submit"><strong>DELETE LYRIC</strong></button>

          <% }) %>
        <% } %>
      </ul>
    </div>
  </body>
</html>
